body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Tono marrón suave */
  }

  

  .navbar {
    background-color: #8B4513; /* Marrón oscuro */
    padding: 20px 0;
    text-align: center;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline;
    margin-right: 10px;
}

.nav-link {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}


  
  .container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #8B4513; /* Marrón oscuro */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  textarea {
    height: 150px;
  }
  
  button[type="submit"] {
    background-color: #8B4513; /* Marrón oscuro */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #A0522D; /* Marrón claro */
  }
  